{% extends 'base.html.twig' %}

{% block body %}
    <h1>Article</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ article.libelle }}</td>
            </tr>
            <tr>
                <th>Principeactif</th>
                <td>{{ article.principeActif }}</td>
            </tr>
            <tr>
                <th>Excipient</th>
                <td>{{ article.excipient }}</td>
            </tr>
            <tr>
                <th>Modeadministration</th>
                <td>{{ article.modeAdministration }}</td>
            </tr>
            <tr>
                <th>Possologie</th>
                <td>{{ article.possologie }}</td>
            </tr>
            <tr>
                <th>Aspect</th>
                <td>{{ article.aspect }}</td>
            </tr>
            
            <tr>
                <th>Limitecommande</th>
                <td>{{ article.limiteCommande }}</td>
            </tr>
            <tr>
                {% if article.image is not null %}
                    <img src="{{ asset ('uploads/img/'~article.image.url) }}" alt="{{ asset ('uploads/img/'~article.image.alt)}}">
                {% endif %}
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('article_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('article_edit', { 'id': article.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
